/* tags */
body {
  font-family:sans-serif;
  text-align: center;
  font-size: 1.1rem;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

/* random classes */
.big-heading {
  font-size: 2.8rem;
  line-height: 1.8;
}

.sub-heading {
  font-size: 2.3rem;
  line-height: 1.7;
}

.smaller-heading {
  font-size: 1.8rem;
  line-height: 1.6;
}

.first-bg{
  background-color: #F35890;
  color:#FFFFFF;
}

.second-bg {
  background-color:#FFFFFF;
  color: #db44c7;
}
.third-bg{
  background-color: #db44c7;
  color: #FFFFFF;
}
.download-icon {
  font-size: 1.4rem;
}

.download-button {
  margin: 5% 0.8rem 4% 0;
}

.download-button:hover {
  background-color: #3fd0f2;
}

.container-fluid {
  padding: 7% 15%;
}

/* title  section */
#title .container-fluid {
  padding: 2% 15% 7%;
}

/*navigation bar*/
.my-brand {
  font-size: 2rem;
  font-family: 'Noto Serif', serif;
}

/* navigation links */
.styled-link {
  font-size: 1.2rem;
}

.styled-link:hover, .styled-link:focus {
  color: #3fd0f2 !important;
}

.title-div {
  padding: 8% 0 0;
  text-align: left;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */
#features {
  position: relative;
}

.features-box {
  padding: 4.3%;
}

.features-icon {
  margin-bottom: 1rem;
  color:#F96d4d;
}

.features-icon:hover {
  color: #f35890;
}

/*testimonial section*/
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press .container-fluid {
  padding: 7% 5%;
}

.press-img {
  margin: 0 2%;
  width: 18%;
}

/* pricing */
#pricing .container-fluid {
  padding: 7% 8%;
}

.pricing-cards {
  background-color: inherit;
  border: 1px solid #3fd0f2;
}

.pricing-header {
  background-color: #d94e81;
}

.pricing-column {
  margin: 5% auto;
}

.card-btn {
  display: block;
  width: 100%;
}

/*footer section*/
.social-icon {
  margin: 0 1.5rem 2rem;
}

#copy {
  font-size: 0.9rem;
}

/* media queries */
@media(max-width:1080px) {
  .title-div {
    text-align: center;
  }

  .title-img {
    transform: rotate(0);
    position: static;
    width: 64%;
  }

  .download-button {
    margin: 3% 0.8rem 8% 1rem;
  }
}

@media(max-width:730px) {
  html {
    font-size: 14px;
  }

  #title .container-fluid, .container-fluid {
    padding-right: 8%;
    padding-left: 8%;
  }

  .testimonial-image {
    width: 20%;
  }
}
